<div id="header" class="align-center">
  <span class="title">Crowd Park</span>
  <span class="subtitle">Gamified and Crowdsourced Private and Public Parking.</span>
</div>
<div id="video" class="align-center">
  <div class='title-box align-center'>
    <span class='title-font'>WITH CROWD PARK</span>
    <span class="subtitle-font">Users find and pay for parking from their phone.</span>
    <span class="subtitle-font">Lot owners and cities manage and enforce parking with zero investment.</span>
  </div>
  <div class="pure-g align-center">
    <iframe class="pure-u-1 pure-u-sm-1-1 pure-u-md-1-2 center-box" src="//player.vimeo.com/video/108859998?title=0&amp;byline=0&amp;portrait=0&amp;color=ef0f57" width="700" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
<div id="features">
  <div class='title-box align-center'>
    <span class='title-font'>FEATURES</span>
    <span class="subtitle-font">Real time supply and demand.</span>
    <span class='subtitle-font'>Simplified enforcemnt and collection. </span>
  </div>
  <div class="pure-g align-center">
    <div class="pure-u-1 pure-u-md-1-4 feature">
      <!-- <div class="circle"> -->
        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
          <a href="#" class="hi-icon hi-icon-archive">Payment</a>
        </div>
      <!-- </div> -->
      <span class='title-font'>EASY SETUP</span>
      <p class="description">
        Draw your lot or public spaces on a map.  Set available spots and pricing schedule.  Users check-in and pay from their phone.  Easy.
      </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 feature">
      <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
        <a href="#" class="hi-icon hi-icon-mobile">Mobile</a>
      </div>
      <span class='title-font'>ZERO INFRASTRUCTURE</span>
      <p class="description">
        Users snap pictures of other cars' plates.  If the car didn't pay, our system sends a ticket and the user that snapped the picture collects a bounty.  Simple.
      </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 feature">
      <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
        <a href="#" class="hi-icon hi-icon-clock">Time</a>
      </div>
      <span class='title-font'>REAL TIME STATISTICS</span>
      <p class="description">
        Users see current and predicted demand for parking and are guided to available parking space.
      </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 feature">
      <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
        <a href="#" class="hi-icon hi-icon-location">Location</a>
      </div>
      <span class='title-font'>VARIABLE PRICING</span>
      <p class="description">
          On busy days, raise prices.  On slow days, repurpose your parking lot for food trucks, a basketball court or a farmers' market! 
      </p>
    </div>
  </div>
</div>
<div id="team">
  <div class='title-box align-center'>
    <span class='title-font'>TEAM</span>
    <span class='subtitle-font'>Small team, big ideas.</span>
  </div>
  <div class="pure-g align-center">
    <div class="pure-u-1 pure-u-md-1-3 feature">
      <div class="circle">
        <img alt='Juan Marin'src="assets/images/canizal.png" />
      </div>
      <span class='title-font'>CARLOS CANIZAL.</span>
      <span class='subtitle-font'>Software Engineer</span>
      <span class='subtitle-font'> Lives in Mexico City.  Graduated from UPIICSA-IPN.</span>
      <span class='subtitle-font'>Loves software engineering and cats.</span>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 feature">
      <div class="circle">
        <img alt='Juan Marin'src="assets/images/juan.jpeg" />
      </div>
      <span class='title-font'>JUAN MARIN.</span>
      <span class='subtitle-font'>Software Engineer</span>
      <span class='subtitle-font'>Lives in Mexico City.  Graduated from Stanford University.</span>
      <span class='subtitle-font'>Loves economics, entrepreneurship, Haskell and video games.</span>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 feature">
      <div class="circle">
        <img alt='Juan Marin'src="assets/images/liam.png" />
      </div>
      <span class='title-font'>LIAM RONAN.</span>
      <span class='subtitle-font'>Software Engineer</span>
      <span class='subtitle-font'>Lives in San Francisco and graduated from HamiltonCollege. </span>
      <span class='subtitle-font'>Closet PHP fanboy.</span>
    </div>
  </div>
</div>
<div id="stay-in-touch">
  <div class='title-box align-center'>
    <span class='title-font'>STAY IN TOUCH</span>
    <span class="subtitle-font">Want more info?</span>
    <span class="subtitle-font">Sign up and we'll keep you posted.</span>
  </div>
  <div class="pure-g align-center">
    <div class="pure-u-1 email">
      <form name="keepMePostForm" novalidate>
        <input name ="email" type="email" placeholder="john_connor@skynet.com" ng-model="email" required/>
      </form>
    </div>
    <button class="pure-button button-custom" ng-click="sendEmail()">Keep Me Posted!</button>

  </div>
  <div ng-show="error" class="error align-center">
    {{error}}
  </div>
  <div ng-show="keepMePostForm.$invalid && !keepMePostForm.$pristine" class="error align-center">
    Please entera a valid Email.
  </div>
  <div ng-show="success && keepMePostForm.$pristine" class="success align-center">
    {{success}}
  </div>
  <div class="align-center mailus">
    <span>boba_fett@crowdpark.io</span>
  </div>
</div>
